.App {
  text-align: center;
}

h1 {
  background-color: rgb(98, 98, 211);
  padding: 3%;
}

.posts {
  border: 2px black solid;
  box-shadow: 2px gray;
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
  width: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;background-color: rgb(228, 228, 79);
}

.form {
  margin:20px;
  
}